<!DOCTYPE html>

<html>
    <head th:replace="layout/plantilla :: head">
        <title>Gamestore</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

        <section th:replace="articulo/fragmentosArticulos :: botonesAgregar"/>
        <section th:replace="articulo/fragmentosArticulos :: agregarArticulo"/>
        <section th:replace="articulo/fragmentosArticulos :: listadoArticulos"/> 

        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>