<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Gamestore</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <!-- Carousel -->



        <div id="demo" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
            </div>


            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/imagenes/54.jpg" alt="Video juego" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/imagenes/55.jpg" alt="Video juego" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/imagenes/56.jpg" alt="Video juego" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/imagenes/57.jpg" alt="Video juego" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/imagenes/60.png" alt="Video juego" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/imagenes/59.png" alt="Video juego" class="d-block w-100">
                </div>
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>

        <!-- Carousel -->
        <div class="container-fluid mt-3">

            <div class="row">
                <div center class="col-sm-6  bg-mutedtext-black">


                    <h2>PROXIMAMENTE....</h2>
                    God of War: Ragnarok es la secuela del aclamado God of War (2018) y presenta un videojuego de acción y aventura de gran factura donde Kratos y Atreus deben viajar a cada uno de los Nueve Reinos en busca de respuestas mientras las fuerzas asgardianas se preparan para la batalla profetizada que supondrá el fin del mundo. Por el camino,
                    explorarán paisajes míticos increíbles y se enfrentarán a temibles enemigos, como monstruos y dioses nórdicos. La amenaza del Ragnarök está cada vez más cerca: "Kratos y Atreus deben elegir entre su propia seguridad y la de los reinos".
                    A cargo del proyecto vuelve a estar SIE Santa Monica Studio bajo supervisión de PlayStation Studios. El videojuego se lanza en PS5 y PS4, sin que haya trascendido aún un posible estreno en PC. Es de esperar que sus responsable saquen
                    partido no solo a las bondades de hardware de PlayStation 5, sino a algunas de las funciones del DualSense, como los gatillo adaptables o la retroalimentación háptica, aunque de momento tales  novedades no han sido detalladas.
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vtFhDrMIZjE" title="YouTube video player" frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>                                
                    </iframe>
                    Proximamente... 
                    <br>
                </div>
                <div class="col-sm-6  bg-mutedtext-black">
                    <h2>PROXIMAMENTE....</h2>
                    God of War: Ragnarok es la secuela del aclamado God of War (2018) y presenta un videojuego de acción y aventura de gran factura donde Kratos y Atreus deben viajar a cada uno de los Nueve Reinos en busca de respuestas mientras las fuerzas asgardianas se preparan para la batalla profetizada que supondrá el fin del mundo. Por el camino,
                    explorarán paisajes míticos increíbles y se enfrentarán a temibles enemigos, como monstruos y dioses nórdicos. La amenaza del Ragnarök está cada vez más cerca: "Kratos y Atreus deben elegir entre su propia seguridad y la de los reinos".
                    A cargo del proyecto vuelve a estar SIE Santa Monica Studio bajo supervisión de PlayStation Studios. El videojuego se lanza en PS5 y PS4, sin que haya trascendido aún un posible estreno en PC. Es de esperar que sus responsable saquen
                    partido no solo a las bondades de hardware de PlayStation 5, sino a algunas de las funciones del DualSense, como los gatillo adaptables o la retroalimentación háptica, aunque de momento tales  novedades no han sido detalladas.
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4rKFkLeRF3Q" title="YouTube video player" frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>                               
                    </iframe>
                    Proximamente... 
                    <br>

                </div>
            </div>
        </div>

        <div class="container-fluid mt-3">

            <div class="row">
                <div center class="col-sm-6 bg-mutedtext-black">


                    <h2>PROXIMAMENTE....</h2>
                    God of War: Ragnarok es la secuela del aclamado God of War (2018) y presenta un videojuego de acción y aventura de gran factura donde Kratos y Atreus deben viajar a cada uno de los Nueve Reinos en busca de respuestas mientras las fuerzas asgardianas se preparan para la batalla profetizada que supondrá el fin del mundo. Por el camino,
                    explorarán paisajes míticos increíbles y se enfrentarán a temibles enemigos, como monstruos y dioses nórdicos. La amenaza del Ragnarök está cada vez más cerca: "Kratos y Atreus deben elegir entre su propia seguridad y la de los reinos".
                    A cargo del proyecto vuelve a estar SIE Santa Monica Studio bajo supervisión de PlayStation Studios. El videojuego se lanza en PS5 y PS4, sin que haya trascendido aún un posible estreno en PC. Es de esperar que sus responsable saquen
                    partido no solo a las bondades de hardware de PlayStation 5, sino a algunas de las funciones del DualSense, como los gatillo adaptables o la retroalimentación háptica, aunque de momento tales  novedades no han sido detalladas.
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Mel5CX2Suys" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                    Proximamente... 
                    <br>
                </div>
                <div class="col-sm-6  bg-mutedtext-black">
                    <h2>PROXIMAMENTE....</h2>
                    God of War: Ragnarok es la secuela del aclamado God of War (2018) y presenta un videojuego de acción y aventura de gran factura donde Kratos y Atreus deben viajar a cada uno de los Nueve Reinos en busca de respuestas mientras las fuerzas asgardianas se preparan para la batalla profetizada que supondrá el fin del mundo. Por el camino,
                    explorarán paisajes míticos increíbles y se enfrentarán a temibles enemigos, como monstruos y dioses nórdicos. La amenaza del Ragnarök está cada vez más cerca: "Kratos y Atreus deben elegir entre su propia seguridad y la de los reinos".
                    A cargo del proyecto vuelve a estar SIE Santa Monica Studio bajo supervisión de PlayStation Studios. El videojuego se lanza en PS5 y PS4, sin que haya trascendido aún un posible estreno en PC. Es de esperar que sus responsable saquen
                    partido no solo a las bondades de hardware de PlayStation 5, sino a algunas de las funciones del DualSense, como los gatillo adaptables o la retroalimentación háptica, aunque de momento tales  novedades no han sido detalladas.
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VnBbu2Xqm-g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                    Proximamente... 
                    <br>

                </div>
            </div>
        </div>

        <div class="container-fluid mt-3">

            <div class="row">
                <div center class="col-sm-6  bg-mutedtext-black ">


                    <h2>PROXIMAMENTE....</h2>
                    God of War: Ragnarok es la secuela del aclamado God of War (2018) y presenta un videojuego de acción y aventura de gran factura donde Kratos y Atreus deben viajar a cada uno de los Nueve Reinos en busca de respuestas mientras las fuerzas asgardianas se preparan para la batalla profetizada que supondrá el fin del mundo. Por el camino,
                    explorarán paisajes míticos increíbles y se enfrentarán a temibles enemigos, como monstruos y dioses nórdicos. La amenaza del Ragnarök está cada vez más cerca: "Kratos y Atreus deben elegir entre su propia seguridad y la de los reinos".
                    A cargo del proyecto vuelve a estar SIE Santa Monica Studio bajo supervisión de PlayStation Studios. El videojuego se lanza en PS5 y PS4, sin que haya trascendido aún un posible estreno en PC. Es de esperar que sus responsable saquen
                    partido no solo a las bondades de hardware de PlayStation 5, sino a algunas de las funciones del DualSense, como los gatillo adaptables o la retroalimentación háptica, aunque de momento tales  novedades no han sido detalladas.
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/s4tSZORm0Is" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    Proximamente... 
                    <br>
                </div>
                <div class="col-sm-6 bg-mutedtext-black ">
                    <h2>PROXIMAMENTE....</h2>
                    God of War: Ragnarok es la secuela del aclamado God of War (2018) y presenta un videojuego de acción y aventura de gran factura donde Kratos y Atreus deben viajar a cada uno de los Nueve Reinos en busca de respuestas mientras las fuerzas asgardianas se preparan para la batalla profetizada que supondrá el fin del mundo. Por el camino,
                    explorarán paisajes míticos increíbles y se enfrentarán a temibles enemigos, como monstruos y dioses nórdicos. La amenaza del Ragnarök está cada vez más cerca: "Kratos y Atreus deben elegir entre su propia seguridad y la de los reinos".
                    A cargo del proyecto vuelve a estar SIE Santa Monica Studio bajo supervisión de PlayStation Studios. El videojuego se lanza en PS5 y PS4, sin que haya trascendido aún un posible estreno en PC. Es de esperar que sus responsable saquen
                    partido no solo a las bondades de hardware de PlayStation 5, sino a algunas de las funciones del DualSense, como los gatillo adaptables o la retroalimentación háptica, aunque de momento tales  novedades no han sido detalladas.
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-iEvNgdfLjk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    Proximamente... 
                    <br>

                </div>
            </div>
        </div>

        <footer th:replace="layout/plantilla :: footer"/>

    </body>
</html>         