<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaft.org"
      xmlns="http://www.w3.org/199/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Login</title>
        
          
    <body>
        
        
        <section class="vh-100 body">
            <h1 style="color: #ffff" class="text-center py-1">Gamestore</h1>
            <div class="container py-5 h-100">
                <div class="row d-flex align-items-center justify-content-center h-100">
                    <div class="col-md-8 col-lg-7 col-xl-6">
                        
                    </div>
                    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                        <section>
                            <form method="POST" th:action="@{/login}">
                                <div class="row">
                                    <div>
                                        <label for="username" class="form-label " style="color: #fff">[[#{login.username}]]:</label>
                                        <input type="text"  class="form-control" name="username" id="username"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div>
                                        <label for="password" class="form-label" style="color: #fff">[[#{login.password}]]:</label>
                                        <input type="password" class="form-control" name="password" id="password"/>
                                    </div>
                                </div>
                                <br>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-success btn-block">[[#{login.login}]]</button>                                        
                                </div>

                            </form>

                            <div class="d-flex justify-content-around align-items-center mb-4">
                                <!-- Checkbox -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                                    <label class="form-check-label" for="form1Example3" style="color: white"> Remember me </label>
                                </div>
                                <a href="#!" style="color: white">Forgot password?</a>
                            </div>

                            <div class="divider d-flex align-items-center my-4">
                                <p class="text-center fw-bold mx-3 mb-0 text-muted"></p>
                            </div>

                            <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
                               role="button">
                                <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
                            </a>
                            <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
                               role="button">
                                <i class="fab fa-twitter me-2"></i>Continue with Twitter</a>

                        </section>
                    </div>
                </div>
            </div>
        </section>
        
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>