<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>GAMESTORE</title>
    </head>
    <body>
        <header th:fragment="header"/>
        <h2>Datos Clientes</h2>
        <a th:href="@{/}">Regresar</a>
        <br>
        <br>
        <form th:action="@{/guardarCliente}" method="post" th:object="${cliente}">
            <input type="hidden" name="idCliente" th:field="*{idCliente}" />
            <label for="nombre">Nombre: </label>
            <input type="text" id="nombre" name="nombre" th:field="*{nombre}"/>
            <br>
            <label for="apellidos">apellidos </label>
            <input type="text" id="nombre" name="apellidos" th:field="*{apellidos}"/>
            <br>
            <label for="correo">correo </label>
            <input type="email" id="nombre" name="correo" th:field="*{correo}"/>
            <br>
            <label for="telefono">telefono </label>
            <input type="tel" id="telefono" name="telefono" th:field="*{telefono}"/>
            <br>
            <label for="ciudad">ciudad </label>
            <input type="text" id="ciudad" name="ciudad" th:field="*{ciudad}"/>
            <br>
            <label for="provincia">provincia </label>
            <input type="text" id="provincia" name="provincia" th:field="*{provincia}"/>
            <br>
            <input type="submit" name="Guardar" value="Guardar"/>
        </form>
    </body>
</html>
